<!DOCTYPE html>
<html lang="en">
<%= render 'shared/head' %>
<body>
  <%= render 'shared/header' %>
  <div class="usa-overlay"></div>
  <main id="main-content" role="main">
    <%= yield %>
  </main>
  <%= render 'shared/footer' %>
</body>
</html>
